.weather-container {
    text-align: center;
    .button-container {
      display: flex;
      justify-content: center;
    }
    
    .selectable-button {
      padding: 10px 20px;
      margin: 0 5px;
      background-color: #eaeaea;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
    
    .selectable-button:hover {
      background-color: #d5d5d5;
    }
    .selected {
      background-color: #6495ED;
    }
    
    h1 {
      font-size: 24px;
      margin-bottom: 20px;
    }
  
    .weather-info {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
  
      .weather-card {
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 10px;
        width: 250px;
  
        h3 {
          font-size: 18px;
          margin-bottom: 10px;
        }
  
        .weather-hour {
          margin-top: 10px;
          border-top: 1px solid #ccc;
          padding-top: 10px;
  
          .time-icon {
            display: flex;
            align-items: center;
            gap: 10px;
  
            img {
              width: 40px;
            }
          }
  
          p {
            margin: 5px 0;
          }
        }
      }
    }
  }
  